beautifulsoup4==4.6.0
GitPython==2.1.9
html5lib==0.999999999
parsedatetime==2.4
pyparsing==2.2.0
python-dateutil==2.7.2
requests==2.18.4
git+https://github.com/GuillaumeSmaha/PySvn.git@use_chdir_instead_concat_path
